{% extends 'base/base.html' %}
{% load static %}
{% block tittle %}About{% endblock %}

{% block main %}

<body>

    <header>
        <h1>About Us</h1>
    </header>

    <div class="container">
        <section>
            <h2>Our Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida libero et quam consequat, sed tincidunt urna eleifend. Donec euismod mi sed urna bibendum, eget suscipit est efficitur. Nulla facilisi. Suspendisse potenti. Nulla tincidunt dui id urna consequat, vitae dapibus lorem aliquam. Integer eget elit et odio ullamcorper convallis vel at justo.</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>Nullam sed erat gravida, ultricies est eu, cursus tellus. Quisque fringilla orci vitae augue scelerisque facilisis. Nullam non tempor dui. Nullam sit amet scelerisque velit. Nulla auctor maximus justo, ac volutpat elit malesuada nec. Donec vel mi ullamcorper, tincidunt ex sit amet, commodo lectus.</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <ul>
                <li>John Doe - CEO</li>
                <li>Jane Smith - COO</li>
                <li>Michael Johnson - CFO</li>
            </ul>
        </section>
    </div>


{% endblock %}
